<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">A propos de Footer</h2>
                <hr class="primary">
                <p class="text-faded">Footer est une application web interne à AXA France visant 
                    à facilité la création de match de football.
                </p>
            </div>
        </div>
    </div>
</section>