.calendar {
  .btn-l {
    margin-top: 3%;
    .button-variant(white; #12529b; #12529b);
  }
  .legend-content {
    margin-top: 3%;
  }
  .fc-unknown {
    background: #f0f0f0;
  }
  .fc-available {
    background: #8af2a2;
  }
  .fc-perhaps {
    background: #fff070;
  }
  .fc-unavailable {
    background: #f28a8a;
  }
  .fc-match {
    background: #8bbcf4;
  }
}
