<div class="my-modal modal" id="## myModal ##" tabindex="-1" role="dialog" 
    ng-click="close()" data-dismiss="modal" aria-hidden="true">
    <div class="modal-content" ng-click="$event.stopPropagation()">
        <div class="close-modal" ng-click="close()" data-dismiss="modal" aria-hidden="true">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="modal-body">
                modal-body
            </div>
        </div>
    </div>
</div>